/* Typography */
body {
  margin: 0;
  font-family: 'Sora', sans-serif;
  height: 100vh;
}

h1 {
  font-size: 36px;
}

p {
  font-size: 20px;
  color: #52525A;
}

.list {
  font-size: 14px;
  color: #52525A;
  font-weight: lighter;
}

h3 {
  font-size: 16px;
  font-weight: lighter;
  color: #52525A;
}

/* Class */
.circle {
  width: 45px;
  height: 45px;
  background-color: #F5C044;
  border-radius: 50%;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}


